.table-view {
  -fx-background-color: #fff;
  -fx-padding: 10px;
}

.table-view .column-header {
  -fx-alignment: CENTER;
  -fx-background-color: #0072c6;
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
  -fx-font-size: 20;
}

.table-view .cell {
  -fx-alignment: CENTER;
  -fx-text-fill: #000;
}

.table-view .cell .text{
  -fx-font-weight: bold;
  -fx-font-size: 14;
}

.table-row-cell:selected {
  -fx-background-color: #0072c6;
  -fx-text-fill: #fff;
}

