.button{
    -fx-background-radius: 200;
    -fx-background-color:  linear-gradient(to bottom, cornflowerblue, deepskyblue);
    -fx-font-family: "Chilanka";
    -fx-text-alignment: center;
    -fx-font-size: 19px;
}

.button .text{
    -fx-fill: black;
    fx-font-weight: bold;
}