
.label {
    -fx-font-size: 70px;
    -fx-font-family: "Chilanka";
    -fx-text-alignment: center;
}

.outline.label .text {

    -fx-fill: linear-gradient(to bottom, #0ddddd, #0000ff);
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-font-weight: bold;
}


